# ---------- APP VARIABLES
ENVIRONMENT=
SOURCE_NAME=

# ---------- LOG VARIABLES
POWERTOOLS_SERVICE_NAME=
POWERTOOLS_LOG_LEVEL=
POWERTOOLS_LOG_EVENT=

#----------- AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# ---------- EXTERNAL VARIABLES
FTP_HOST=
FTP_ROOT_DIR=